
    <div class="btn-grid">
        <button class="btn btn-wide btn-primary rounded-full justify-center">Reponse 1</button>
        <div class="divider-vertical"></div>
        <button class="btn btn-wide btn-primary rounded-full justify-center">Reponse 2</button>
        <div class="divider-vertical"></div>
        <button class="btn btn-wide btn-primary rounded-full justify-center">Reponse 3</button>
        <div class="divider-vertical"></div>
        <button class="btn btn-wide btn-primary rounded-full justify-center">Reponse 4</button>
    </div>
