<div class="flex gap-8 p-2 border rounded-lg brightness-125 backdrop-hue-rotate-60 backdrop-blur-md">
  <div class="flex items-center text-bleu-2 font-display text-xl self-end"><div class="bg-piece bg-contain bg-no-repeat w-8 h-10 mt-2 duration-300 ease-in-out hover:transition-all hover:duration-500 hover:skew-y-3 hover:scale-125"></div> x148</div>
  <div class="flex items-center text-bleu-2 font-display text-xl self-end"><div class="bg-potion bg-contain bg-no-repeat w-8 h-10 mb-1 duration-300 ease-in-out hover:transition-all hover:duration-500 hover:skew-y-3 hover:scale-125"></div> x3</div>
  <div class="flex flex-col">
    <div class="text-bleu-2 font-display text-xl w-56 self-start">Niv.5</div>
    <progress class="progress progress-primary duration-300 ease-in-out" value="40" max="100"></progress>
  </div>
</div>
