<div class="min-h-full px-8 flex justify-center text-black">
  <div class="bg-white min-w-full min-h-fit rounded-3xl opacity-80 flex flex-col p-8">
    <div (click)="goToModule()"  class="flex gap-1 text-black text-sm cursor-pointer">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z"
        />
      </svg>
      retour au module
    </div>
    <div class="self-center text-violet-1 font-display text-6xl">Titre du chapitre</div>
    <div class="font-display text-bleu-1 text-4xl p-4">Titre de la partie</div>
    <div class="text-justify py-4 px-8">
      <ul class="list-disc p-8">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>
          Aenean est odio, faucibus eget quam non, efficitur dignissim nulla.
          Etiam turpis elit, iaculis in dolor sed, efficitur luctus lorem.
        </li>
        <li>
          Donec feugiat, erat a condimentum sodales, ante purus consequat nulla,
          eget placerat tellus justo vitae justo.
        </li>
        <li>
          Donec sit amet metus massa. Nunc pulvinar nibh dui, id fermentum
          turpis gravida elementum. Sed posuere tortor eget viverra malesuada.
        </li>
        <li>
          Suspendisse quis feugiat ex. Nam ac ornare est. Maecenas luctus mi
          eget ornare finibus.
        </li>
        <li>
          Phasellus volutpat efficitur tincidunt. Nullam non mauris at neque
          accumsan suscipit sodales et felis.
        </li>
      </ul>
      Donec consequat auctor ipsum. Aliquam ligula orci, venenatis at mi a,
      facilisis feugiat orci. Donec ac ipsum vel lorem hendrerit facilisis.
      Nullam elementum luctus euismod. Sed placerat in velit in varius. Quisque
      eu egestas nunc. Vestibulum sed laoreet mi. Nulla elit sapien, ullamcorper
      non dignissim eu, finibus in ante. Donec tincidunt molestie metus, ac
      lobortis dolor. Integer euismod risus sed quam maximus aliquam. Fusce
      lectus nisl, ultricies sit amet dui in, feugiat vulputate velit. Maecenas
      rhoncus erat at sem pellentesque, eget imperdiet ex maximus. Cras mattis
      ante vitae enim auctor dictum. Aliquam condimentum a metus viverra
      viverra. Aliquam lobortis risus erat, sit amet placerat massa bibendum a.
      Nam convallis rhoncus leo, eget aliquet magna suscipit quis. Cras
      dignissim ligula eu mi vestibulum efficitur. Donec ultrices neque ac diam
      rhoncus auctor. Aliquam in consequat nibh. Donec vel lorem varius,
      consequat dolor et, volutpat ex. Sed cursus, metus vel dictum feugiat,
      ante erat blandit purus, sit amet dapibus enim enim nec metus. Praesent
      commodo tellus nibh, vel facilisis nisl condimentum sed. Sed id lorem
      dictum ex bibendum malesuada. Sed in dui quis dui sollicitudin vehicula
      sed vel tortor. Fusce vel sagittis ante, at semper felis. Nulla dapibus
      congue felis aliquet interdum. Donec dapibus tortor quis aliquam placerat.
      Nulla non tellus eget magna hendrerit varius. Donec in pellentesque nunc,
      eget faucibus eros. Aliquam erat volutpat. Aliquam erat volutpat. Ut
      rutrum ornare tortor. Quisque accumsan elit diam, quis sodales purus
      lacinia at. Nunc sit amet est id nisi volutpat posuere. Mauris quis lorem
      iaculis odio egestas facilisis. Phasellus velit quam, lobortis sed
      efficitur et, pretium nec massa. Vestibulum bibendum, ligula sit amet
      commodo scelerisque, libero dolor laoreet nisl, vel gravida mi ex a dolor.
      Donec et augue in enim volutpat sagittis. Maecenas egestas posuere
      molestie. Morbi ac enim vestibulum turpis eleifend pharetra. Curabitur
      dictum ut urna a commodo. Suspendisse auctor convallis lacus ut rhoncus.
      Curabitur vitae iaculis nulla. Proin eu iaculis sem. Phasellus nec viverra
      libero. Proin at malesuada sapien. Nunc at luctus lectus. Donec eu dapibus
      sem, at tristique augue. Sed eu tortor ipsum. Vivamus pulvinar egestas
      nisl lobortis rhoncus. Vivamus aliquet est mauris, a varius leo finibus
      vitae. Quisque pharetra sapien odio, a congue tortor scelerisque luctus.
      Morbi tincidunt condimentum accumsan. Fusce velit dolor, scelerisque eu
      pulvinar sit amet, lobortis eget ante. Aliquam a arcu nec risus finibus
      consequat. Phasellus id efficitur purus. Nunc rhoncus quis est at tempor.
      Fusce neque mi, maximus id metus nec, dapibus porta mauris. Mauris lacinia
      diam quis egestas feugiat. Suspendisse vestibulum ornare elit, quis
      iaculis nibh aliquet placerat. Nulla non placerat velit. Vivamus dapibus
      dui felis, non convallis ex commodo ac. Praesent dolor enim, euismod a
      tortor eget, viverra faucibus massa. Sed ac orci porttitor, vestibulum
      libero vel, sagittis quam. Praesent dictum a lacus ac vehicula. Morbi
      euismod tellus sed ultricies gravida. Sed mattis eleifend convallis. Etiam
      luctus nibh sit amet ipsum mattis, et iaculis nulla dapibus. Sed id elit
      facilisis, tempor metus et, viverra magna. Ut vulputate ullamcorper mauris
      sed volutpat. Nullam scelerisque leo commodo tortor laoreet viverra.
      Aliquam efficitur hendrerit turpis eu ultricies. Vivamus vulputate
      fermentum magna id pulvinar. Praesent vitae mauris eu purus commodo
      venenatis et eget massa. Sed pharetra odio a ligula elementum, non
      faucibus tellus malesuada. Mauris id purus non orci suscipit euismod ac ac
      lectus. Sed enim ex, mollis vitae diam interdum, congue interdum est.
      Proin laoreet orci et laoreet lacinia. Vestibulum vitae condimentum orci,
      vel iaculis dui. Curabitur iaculis elit non porta sollicitudin. Etiam
      congue consequat lacus, ac bibendum ipsum tristique sit amet. Nam mollis,
      odio quis mollis fermentum, elit eros convallis neque, nec consectetur
      diam sapien non diam. Praesent dictum massa nec efficitur commodo. Quisque
      malesuada et risus quis rhoncus. Ut sit amet massa pulvinar, luctus erat
      non, efficitur neque. Donec scelerisque enim a eleifend accumsan. In nibh
      orci, ultrices maximus metus eget, convallis posuere justo. In pulvinar
      mauris quis neque vestibulum, sit amet volutpat nisi posuere. Praesent
      quis tincidunt libero. Interdum et malesuada fames ac ante ipsum primis in
      faucibus. Phasellus sed est efficitur elit ultrices commodo. Praesent
      euismod nibh et risus rutrum tempus. Suspendisse mauris odio, tincidunt
      vitae vehicula id, auctor non sem. Duis mattis, ex eu mollis ullamcorper,
      mauris lacus tristique sapien, eget euismod diam turpis a est. Proin eget
      interdum turpis. Nunc vel neque vel mauris elementum facilisis ac et est.
      Fusce congue tristique scelerisque. Aliquam efficitur elit a fringilla
      bibendum. Vivamus nec rutrum ipsum. Morbi imperdiet rutrum auctor. Sed vel
      leo sed velit finibus pulvinar. Pellentesque ultrices magna a dui interdum
      vulputate. Nulla congue vel lacus eu convallis. Donec volutpat purus
      lorem, vel tincidunt ligula lacinia quis. Nullam bibendum dui nec quam
      sodales feugiat. Cras vestibulum, arcu ut tempus aliquet, felis nisi
      imperdiet arcu, at venenatis tellus orci nec ex. Etiam aliquam arcu arcu,
      eu pretium ligula consequat ac. In finibus viverra ante, id vehicula enim
      hendrerit ac. Curabitur tempus libero lorem, ac varius metus aliquam sed.
      Aliquam aliquam libero neque, a ullamcorper lectus posuere a. Etiam
      porttitor eget justo id porta. Mauris aliquam sed lectus vitae posuere.
      Donec egestas eu odio quis molestie. Nulla facilisi. Phasellus vehicula
      quam libero, ultricies molestie neque sagittis vitae. Suspendisse eleifend
      purus non mauris eleifend, id pharetra eros ultricies. Fusce pellentesque,
      diam et mattis lobortis, turpis lacus scelerisque diam, nec convallis erat
      elit in nunc. Ut ut vulputate lacus. Duis tempus diam vel dui finibus, nec
      dignissim justo porta. Mauris elementum rutrum scelerisque. Aliquam mattis
      ipsum lorem, a ullamcorper orci lobortis eget. Donec eu ipsum posuere,
      rhoncus leo non, ultricies sapien. Vestibulum vitae felis orci. Morbi
      vitae enim dui. Maecenas sit amet sem vitae est placerat efficitur.
      Integer at urna vitae magna facilisis fermentum. Etiam dui dolor, accumsan
      ut tortor lobortis, finibus sagittis nisl. Duis sit amet vestibulum
      tellus. Sed dictum vestibulum felis vitae viverra. Nam pharetra placerat
      erat vitae molestie. Praesent commodo tortor vitae justo venenatis, ut
      convallis mauris faucibus. Quisque dui tortor, laoreet ut convallis vitae,
      elementum dictum metus. Curabitur fringilla neque libero, condimentum
      consectetur augue posuere tristique. Donec eu convallis erat. Aenean in
      scelerisque mauris, eu fringilla dolor. Donec blandit commodo elit, vitae
      fermentum arcu vehicula at. Praesent accumsan, nulla vitae dictum porta,
      metus urna aliquam purus, a venenatis nunc lorem ut turpis. Ut orci dui,
      consequat nec vestibulum ac, gravida in sem. Donec eu aliquam metus, et
      lobortis orci. Phasellus in mi volutpat justo lobortis tempor aliquet in
      magna. Aenean vitae volutpat dui, a laoreet neque. Curabitur laoreet
      tristique eros, eget aliquet tellus cursus id. Maecenas sed rhoncus
      lectus. Donec sed nisi sit amet arcu posuere porta. Sed est nisl, blandit
      ut sagittis sed, dapibus at nisl. Praesent imperdiet neque volutpat augue
      ullamcorper, in vulputate diam volutpat. Aenean dignissim nisl ultricies
      dui malesuada tincidunt. Praesent id est sed metus scelerisque accumsan
      vitae vitae lacus. Phasellus ut sapien at orci pharetra gravida. Integer
      nec urna nisl. Maecenas fringilla in nulla malesuada hendrerit. Duis
      accumsan imperdiet gravida. Morbi eu tempus tellus. Nunc vitae efficitur
      nulla. Nulla tristique mollis venenatis. Vestibulum dictum efficitur
      scelerisque. Nullam lobortis quam a massa faucibus tincidunt. In nunc
      neque, condimentum in aliquam ut, faucibus sed eros. Pellentesque
      tristique fringilla eros eget dapibus. Nunc leo enim, placerat nec magna
      et, imperdiet euismod nulla. Donec id arcu placerat, dapibus enim in,
      dapibus sapien. Mauris ac faucibus lectus. Donec non vulputate justo, ac
      tempor orci. Vestibulum ante ipsum primis in faucibus orci luctus et
      ultrices posuere cubilia curae; Praesent pulvinar bibendum est ut commodo.
      Duis et vestibulum mauris, a placerat ante. Aenean vestibulum interdum
      nulla eu suscipit. Ut semper lectus in porttitor sollicitudin. Fusce et
      placerat libero. Phasellus molestie aliquet vehicula. Suspendisse vehicula
      nibh eget velit vehicula blandit. Morbi pretium est at iaculis cursus.
      Nunc ultrices cursus leo eget gravida. Phasellus placerat dapibus
      vestibulum. Ut sapien purus, venenatis et purus ut, luctus finibus nisl.
      Nunc hendrerit, dui vel tincidunt scelerisque, enim purus egestas nibh,
      vitae auctor odio tellus at urna. Etiam quis massa ut est interdum
      gravida. Nunc hendrerit nibh ut massa feugiat semper. Curabitur id mollis
      nulla. Integer placerat urna ut lacinia condimentum. Nam malesuada
      placerat felis in luctus. Etiam magna massa, consectetur at metus quis,
      tincidunt sagittis leo. Vestibulum non nulla sit amet lorem luctus
      tristique a non velit. Maecenas vitae neque rutrum, rhoncus purus sit
      amet, commodo lacus. In posuere tempor lorem, non posuere nisl ornare et.
      Integer sit amet enim mattis, dictum nulla in, pulvinar enim. Proin
      pellentesque vel dolor lobortis fringilla. Etiam nec ex eget lacus dictum
      ullamcorper sed condimentum quam. Mauris aliquet massa in elementum
      dictum. Sed porta aliquet placerat. Quisque congue risus nisi, non
      fermentum turpis dignissim eget. Curabitur volutpat lacus nec orci
      tincidunt rhoncus quis quis elit. Pellentesque malesuada fermentum ligula,
      a facilisis massa luctus et. Curabitur ultrices tristique justo, non
      condimentum risus suscipit at. In vulputate consequat faucibus. Maecenas
      ac ex tempor, rhoncus tortor in, facilisis leo. Nam porttitor quam leo, at
      luctus arcu consequat sit amet. Nam tempus posuere gravida. Vivamus
      lacinia nisl non ante pellentesque, vel commodo ipsum feugiat. Proin
      vestibulum dignissim pulvinar. Nulla facilisi. Proin a ligula rhoncus,
      sodales justo et, rutrum mauris. Sed nec leo sit amet elit gravida dictum
      quis eget erat. Aliquam erat volutpat. Curabitur nec auctor urna. Sed erat
      dolor, ultrices et ligula a, pellentesque pellentesque ante. Integer
      pellentesque eu ante at dignissim. Nulla aliquam sed urna mollis aliquam.
      Praesent in nisl a dolor posuere egestas. Duis et malesuada dui.
      Suspendisse at nunc vulputate, volutpat est a, viverra velit. Suspendisse
      placerat sodales augue eget rutrum. Pellentesque consectetur suscipit diam
      eu consequat. Duis hendrerit posuere turpis, vel iaculis risus dapibus
      nec. Morbi in neque nec nisl dignissim dictum ac ac dolor. In sodales, sem
      sed mollis tincidunt, ligula diam facilisis lacus, non dapibus odio elit
      id nisl. Cras placerat est nec turpis accumsan, quis molestie ligula
      iaculis. Sed mattis, nulla porta facilisis commodo, nibh tortor
      scelerisque ex, ut aliquam elit ipsum eu velit. Mauris et luctus odio, et
      hendrerit ipsum. Suspendisse bibendum mollis tincidunt. Vivamus semper
      ligula at ante sagittis, ac venenatis odio varius. Morbi in augue
      consectetur, dignissim tortor eget, tempus risus. Cras id fringilla elit,
      a blandit justo. Donec quis pellentesque lectus. Cras purus tortor, tempor
      in nisl ac, posuere rhoncus velit. Proin tellus elit, venenatis id augue
      ut, egestas viverra justo. Ut vitae sagittis nisi, a ullamcorper nibh.
      Phasellus quam nisi, vulputate vitae elementum et, rhoncus tempus est.
      Fusce ultrices quam sit amet ligula dignissim, vitae porta ante suscipit.
      Nulla vel lobortis leo. Proin ornare, nunc nec maximus aliquam, tellus
      lectus tincidunt nisl, convallis finibus tortor orci eget leo. Sed non
      porttitor odio. Aliquam ut nisi consequat, pharetra neque quis, dapibus
      ante. Proin nec ornare diam, at facilisis sapien. Sed accumsan, justo nec
      dictum venenatis, nunc lectus fringilla est, id posuere augue ex ac lacus.
      Aliquam at libero eget felis porta aliquet. Fusce pellentesque venenatis
      euismod. Vestibulum hendrerit congue dolor, id dignissim urna finibus id.
      Donec vestibulum dui in leo egestas, eget dignissim augue volutpat. Cras a
      porttitor felis. Proin feugiat, dui in accumsan lobortis, orci est
      condimentum lectus, a tincidunt dolor mi id enim. Vestibulum ante ipsum
      primis in faucibus orci luctus et ultrices posuere cubilia curae; In hac
      habitasse platea dictumst. Fusce tristique porttitor mattis. Vestibulum id
      varius lectus. Vestibulum eget ligula vel sapien feugiat interdum.
      Pellentesque justo risus, gravida tincidunt fringilla quis, mattis sed
      nunc. Integer porta elementum magna quis gravida. Suspendisse libero diam,
      faucibus ac viverra ut, commodo fermentum tortor. Vivamus bibendum nisl
      eget felis maximus porta aliquet quis tellus. Cras id lobortis est, in
      vulputate elit. Vivamus iaculis ornare augue vitae pharetra. Nam vulputate
      nec neque et ullamcorper. Maecenas tortor sem, ultrices sit amet interdum
      at, elementum id libero. Phasellus dictum finibus porta. Nulla et magna
      nibh. Phasellus in ultrices diam. Nulla tristique dapibus magna, nec
      dignissim est consequat et. Etiam condimentum rhoncus dolor, in gravida
      enim sollicitudin sit amet. Phasellus sodales tellus nec mollis lacinia.
      Nullam ac felis sed ipsum semper ornare. Aliquam in blandit neque.
      Suspendisse dictum orci ut rhoncus laoreet. Nulla molestie tincidunt
      nulla, ac semper magna hendrerit euismod. Vestibulum vitae tellus dapibus,
      scelerisque neque ac, vulputate nisl. Maecenas rhoncus augue in lacus
      imperdiet efficitur. Praesent euismod in sapien commodo pulvinar. Morbi at
      dolor nec augue molestie aliquam. Orci varius natoque penatibus et magnis
      dis parturient montes, nascetur ridiculus mus.
    </div>
    <!-- mettre des boutons pour combler -->
    <!-- cours suivant, aller aux exos ect.. -->
    <div class="self-end bg-parchemin bg-center bg-cover bg-no-repeat w-36 h-52 origin-top-left rotate-12"></div>
  </div>
  
</div>
